<!--
  This is the output from renderPost(), styled with post.css

 -->
<div class="post">

  <div class="message">{{{message}}}</div>

  <div class="timestamp" data-actual-time="{{timestamp}}"></div>

  <div class="author-avatar"><img src="{{author-avatar-url}}"></div>

  <div class="author-name">{{author-name}}</div>

</div>
